sudo: false
language: python
cache:
  - apt
  - pip
matrix:
  include:
    - os: linux
      python: 2.7
      env: DISPLAY=:99.0

    - os: linux
      python: 3.6
      env: DISPLAY=:99.0

  #  - os: osx
  #    python: 2.7
  #    env: DISPLAY=:99.0

  #  - os: osx
  #    python: 3.6
  #    env: DISPLAY=:99.0

install:
  - pip install -r requirements.txt
  - pip install -r requirements_test.txt
  - pip install python-coveralls coverage
  - pip install .[full]
script:
  - xvfb-run -s "-screen 0 1024x768x24 -ac +extension GLX +render -noreset" nosetests --with-coverage
notifications:
  email: false
addons:
  apt:
    packages:
      - libhidapi-dev
      - libudev-dev
      - libusb-1.0-0-dev
